<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @course.cost %>
</p>

<p>
  <strong>Is available:</strong>
  <%= @course.is_available %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
